html, body {
    min-width: 1200px;
}

body {
    padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.content {
    padding-left: 20px;
}

.sidebar {
    padding-top: 20px;
    top: 40px;
    left: 0px;
    width: 230px;
    margin-left: 0px;
    height: 100%;
    background-color: #f5f5f5;
    border-right-color: rgb(227, 227, 227);
    border-right-style: solid;
    border-right-width: 1px;
}

.separated-top {
    margin-top: 15px;
    clear: both;
}

.separated-bottom {
    margin-bottom: 15px;
}

.column {
    width:50%;
    float:left;
}


.container {
    margin: 0px;
}

.infoResult{
    padding-top: 3px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 0px;
    padding-right: 12px;
    padding-left: 12px;
    vertical-align: middle;
}

.alert a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    float: right;
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    text-align: center;
    color: #c09853;
}
.alert a:HOVER{
    color: #80673C;
}
.alert-success a{
    color: #468847;
}
.alert-success a:HOVER{
    color: #294B29;
}

.alert-error a{
    color: #b94a48;
}
.alert-error a:HOVER{
    color: #8A2C2B;
}
.bs-callout{
    border-left-style: solid;
    border-left-width: 3px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    padding: 0px;
    width:100%;
    max-width:544px;
}

.bs-callout-danger{
    background-color: rgb(253, 247, 247);
    border-color: rgb(217, 83, 79);
}

.bs-callout-warning{
    background-color: rgb(252, 248, 242);
    border-color: rgb(240, 173, 78);
}
.bs-callout-info{
    background-color: rgb(244, 250, 244);
    border-color: #468847;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info h4 {
    color: #468847;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

h4, .h4 {
    font-size: 18px;
}


.tabcontent{
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-top: 0px;
	padding: 15px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.operationsHeader{
	color: #FFFFFF;
	padding-left: 10px;
	margin-bottom: 10px !important;
	font-style: italic;
	font-weight: bold;
}
.operationsMenu{
	font-size:12px;
	color:#EEEEEE;

}

.operationsMenu li a{
	color: #EEEEEE !important;
	border-left:0px !important;
	border-right:0px !important;
	border-top: 1px solid #858585 !important;
	border-bottom: 1px solid #858585 !important;
	border-radius: 0px !important;
	cursor: pointer;
	padding: 5px 10px;
}

.operationsMenu li a:HOVER{
	/*  background-color: #0088cc !important;  to use the blue of bootstrap*/
	background-color: #858585 !important;
	color:#ffffff !important;
}
.positions ul.actions {
	display: none;
}

.positions li.liposition:hover>ul.actions {
	display: inline;
}

.positions li.liposition {
	margin-bottom: 1em;
}

input.templatefield,.templatefield {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	margin-bottom: 0;
	font-size: 14px;
	font-color: black;
}

input.templatefield:focus,.templatefield:focus {
	border: 1px solid rgba(82, 168, 236, 0.8);
}

input.templatefield:hover,.templatefield:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(82, 168, 236, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(82, 168, 236, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(82, 168, 236, .6);
	outline: 0;
	outline: thin dotted \9;
}

#tabset ul{
	margin:0px;
}