<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <context:annotation-config />
    <context:component-scan base-package="es.us.isa.prspectives"/>

    <!-- Stencilsets and extensions -->
    <mvc:resources mapping="/editor/stencilsets/**" location="classpath:/stencilsets/"/>
    <!-- Webjars -->
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" order="-1"/>
    <!-- SpringMVC Resteasy configuration -->
    <import resource="classpath:springmvc-resteasy.xml"/>
    <bean id="resteasy.handlerMapping" parent="abstract.resteasy.handlerMapping">
        <property name="order" value="10"/>
        <property name="throwNotFound" value="false"/>
    </bean>
    <!-- Socialauth authentication -->
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="order" value="0" />
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- Default handler for other resources -->
    <mvc:default-servlet-handler/>


    <!-- Java config -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    <bean class="es.us.isa.prspectives.config.RepositoryConfig"/>
    <bean class="es.us.isa.prspectives.config.MetamodelsConfig"/>

    <!--   Resources  -->
    <bean id="modelsResource" class="es.us.isa.prspectives.core.model.ModelsResource">
      	<property name="modelRepository" ref="modelRepository"/>
    </bean>
    <bean id="editorResource" class="es.us.isa.prspectives.editor.EditorResource"/>
    <bean id="userResource" class="es.us.isa.prspectives.core.users.UserResource"/>

    <!-- Cache -->
    <import resource="classpath:cacheConfig.xml" />

    <!-- Authentication -->
    <beans profile="!devel">
        <context:component-scan base-package="org.brickred.controller" />
        <import resource="properties.xml" />
        <bean id="socialAuthConfig" class="org.brickred.socialauth.SocialAuthConfig">
            <property name="applicationProperties"><ref bean="socialAuthProperties"/></property>
        </bean>
        <bean id="socialAuthManager" class="org.brickred.socialauth.SocialAuthManager" scope="session">
            <property name="socialAuthConfig"><ref bean="socialAuthConfig"/></property>
            <aop:scoped-proxy/>
        </bean>
        <bean id="socialAuthTemplate" class="org.brickred.socialauth.spring.bean.SocialAuthTemplate" scope="session">
            <aop:scoped-proxy/>
        </bean>
        <bean id="socialAuthWebController" class="org.brickred.socialauth.spring.controller.SocialAuthWebController">
            <constructor-arg value="${PPINOT_BASE_URL}#{servletContext.contextPath}" />
            <constructor-arg value="index.html" />
            <constructor-arg value="index.html" />
        </bean>
    </beans>

</beans>