<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">×</button>
    <h3 id="openModelModalLabel">New model successfully created</h3>
</div>
<div class="modal-body">
    <p>The model has been successfully created, do you want to edit it?</p>
</div>
<div class="modal-footer">
    <button class="btn" data-ng-click="cancel()">No</button>
    <a id="openModel" data-ng-href="{{model.links.editor}}" data-ng-click="ok()" target="_blank" class="btn btn-primary">Yes</a>
</div>